/* Contact.css */

.contact-icon {
    color: grey; /* Set your desired color */
}

.contact-link {
    text-decoration: none;
    color: grey;
    text-align: left;
    display: flex;
    align-items: center;
}

.contact-link:hover {
 color: black;
}

.contact-text {
    padding-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}
  